In [48]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1.0, 2.0, 3.0, 4.0],
                   [12.2, 2.3, 4.3, 2.3],
                   [np.nan, 3.4, 2.4, np.nan]])
df.columns = ['A', 'B', 'C', 'D']

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')  # Corrected spelling of np.nan
imputed_data = imputer.fit_transform(df.values)
print(imputed_data)

[[ 1.    2.    3.    4.  ]
 [12.2   2.3   4.3   2.3 ]
 [ 6.6   3.4   2.4   3.15]]

In [7]:
#mean value shoots for outliers so replacing with avg is wrong

In [49]:
import pandas as pd

df = pd.DataFrame([
    ['green', 'M', 10.1, 'class1'],
    ['red', 'L', 13.5, 'class2'],
    ['blue', 'XL', 15.3, 'class1']
])
df.columns = ['color', 'size', 'price', 'classLabel']
print(df)

   color size  price classLabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [50]:
size_mapping={
    'XL':3,
    'L':2,
    'M':1
}
#Using a dictionary to map the size and corresponding values acc to size
df['size']=df['size'].map(size_mapping)
print(df)

   color  size  price classLabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [51]:
#nominal feature- there is no specific order
#ordinal features- there is specific order (ascending etc).
colors={
    'green':1,
    'red':2,
    'blue':3
}
df['color']=df['color'].map(colors)
print(df)

   color  size  price classLabel
0      1     1   10.1     class1
1      2     2   13.5     class2
2      3     3   15.3     class1

In [53]:
#use one hot encoding to treat nominal features equally
from sklearn.preprocessing import OneHotEncoder
ohe =(OneHotEncoder(sparse_output=False)).set_output(transform='pandas')
F_=ohe.fit_transform(df[['color']])
print(F_)

   color_1  color_2  color_3
0      1.0      0.0      0.0
1      0.0      1.0      0.0
2      0.0      0.0      1.0

In [56]:
YY_=pd.concat([df,F_], axis=1).dropna('color')
print(YY_)

TypeError: DataFrame.dropna() takes 1 positional argument but 2 were given